
*{
  font-family: 'Arimo', sans-serif;
}

body{
  max-width: 1024px;
  margin: auto;
}

/* HEADER */

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo_and_title{
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
  font-size: 20px;
}

header ul{
  padding-right: 24px;
}

header li{
  display: inline-block;
  padding-left: 16px;
  opacity: 0.7;
}

#transparent{
  opacity: 0.7;
  padding-left: 1px;
}

/* BANNER */

.banner{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #e6e9ef;
  border: 1px solid #e6e9ef;
}

.banner_img_container{
  width: 60%;
  padding: 32px 24px;
}

.banner img{
  width: 94%;
}

.banner_txt_column{
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.banner_txt_column h1{
  font-weight: 700;
  font-size: 40px;
  opacity: 0.7;
}

.banner_txt_column h2{
  padding-bottom: 20px;
  padding-top: 10px;
  font-weight: lighter;
  font-size: 22px;
  opacity: 0.7;
}

button{
  background-color: #4d4d4d;
  padding: 12px 0;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
}

/* INFORMATION SECTION */

.intro{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #e6e9ef;
}

.intro_column_left{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_txt{
  text-align: left;
  opacity: 0.7;
  margin: 0;
  padding: 24px 32px;
}

.intro_txt h2{
  font-size: 32px;
  font-weight: bolder;
}

#reference{
  font-weight: bold;
}

.intro_img{
    padding: 32px 24px 0 24px;
}
.intro_img img{
  width: 100%;
}

.intro_column_right{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 40%;
  font-size: 12px;
}

.intro_column_right img{
  padding: 16px;
  width: 100%;
}

.orientation_img,
.campus_img,
.lecture_img{
  width: 35%;
  height: auto;
}

.orientation_txt,
.campus_txt,
.lecture_txt{
  width: 65%;
  text-align: center;
}

.orientation,
.campus,
.lecture{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #e6e9ef;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.lecture{
  background-color: #e6e9ef;
}

/* LEARNING AREA WITH 6 IMAGES AND TEXT USING GRID */

.wrapper{
  background-color: #e6e9ef;
  border: 1px solid #e6e9ef;
  width: 1024px;
  margin: 0 auto;
}

.learning{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #e6e9ef;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-row-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  padding-bottom: 32px;
}

#head{
  grid-column: 1/4;
  text-align: center;
  padding: 32px;
  opacity: 0.7;
}

.learning img{
  width: 100%;
}

.engineering,
.art,
.design,
.data,
.business,
.marketing{
  background-color: white;
  padding: 0px 16px;
  opacity: 0.7;
}

.engineering p,
.art p,
.design p,
.data p,
.business p,
.marketing p{
  margin-top: -8px;
  font-size: 14px;
}

.bottom{
  padding-top: 32px;
  }
}

/* VIDEO AREA */

.thesis {
  width: 1024px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 1px solid #e6e9ef;
}

.thesis_left_column{
  width: 60%;
}

video{
  width: 100%;
}

.thesis_right_column{
  display: flex;
  flex-direction: column;
  width: 40%;
}
