
*{
  font-family: 'Arimo', sans-serif;
}

body{
  max-width: 1024px;
  margin: auto;
}

h1,
h2,
h3{
  font-family: 'Work Sans';

}

.mobile{
  display: none;
}

/* HEADER */

#mobileHeader{
  display: none;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.logo_and_title{
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 32px;
  font-size: 20px;
}

header ul{
  padding-right: 24px;
}

header li{
  display: inline-block;
  padding-left: 16px;
  opacity: 0.7;
}

#transparent{
  opacity: 0.7;
  padding-left: 1px;
}

/* BANNER */

.banner{
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #e6e9ef;
  border: 1px solid #e6e9ef;
}

.banner_img_container{
  width: 60%;
  padding: 32px 24px;
}

.banner img{
  width: 94%;
}

.banner_txt_column{
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.banner_txt_column h1{
  font-weight: 700;
  font-size: 40px;
  opacity: 0.7;
}

.banner_txt_column h2{
  padding-bottom: 20px;
  padding-top: 10px;
  font-weight: lighter;
  font-size: 22px;
  opacity: 0.7;
}

button{
  background-color: #4d4d4d;
  padding: 12px 0;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
}

/* INFORMATION SECTION */

.intro{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-left: 1px solid #e6e9ef;
  border-right: 1px solid #e6e9ef;
}

.intro_column_left{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro_txt{
  text-align: left;
  opacity: 0.7;
  margin: 0;
  padding: 24px 32px;
}

.intro_txt h2{
  font-size: 32px;
  font-weight: bolder;
}

#reference{
  font-weight: bold;
}

.intro_img{
    padding: 32px 24px 0 24px;
}
.intro_img img{
  width: 100%;
}

.intro_column_right{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 40%;
  font-size: 12px;
}

.intro_column_right img{
  padding: 16px;
  width: 100%;
}

.orientation_img,
.campus_img,
.lecture_img{
  width: 35%;
  height: auto;
}

.orientation_txt,
.campus_txt,
.lecture_txt{
  width: 65%;
  text-align: center;
  opacity: 0.7;
}

.orientation,
.campus,
.lecture{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #e6e9ef;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.lecture{
  background-color: #e6e9ef;
}

/* LEARNING AREA WITH 6 IMAGES AND TEXT USING GRID */

.wrapper{
  background-color: #e6e9ef;
  border: 1px solid #e6e9ef;
  width: 1024px;
  margin: 0 auto;
}

.learning{
  width: 80%;
  margin: 0 auto;
  text-align: left;
  background-color: #e6e9ef;
  display: grid;
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-row-gap: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  padding-bottom: 32px;
}

#head{
  grid-column: 1/4;
  text-align: center;
  padding: 32px;
  opacity: 0.7;
}

.learning img{
  width: 100%;
}

.engineering,
.art,
.design,
.data,
.business,
.marketing{
  background-color: white;
  padding: 0px 16px;
  opacity: 0.7;
}

.engineering p,
.art p,
.design p,
.data p,
.business p,
.marketing p{
  margin-top: -8px;
  font-size: 14px;
}

.bottom{
  padding-top: 32px;
}

/* VIDEO AREA */


.thesis{
  width: 100%;
  display: block;
  border-left: 1px solid #e6e9ef;
  border-right: 1px solid #e6e9ef;
  border-top: 1px solid #e6e9ef;
  border-bottom: 1px solid white;
  margin: 0 auto;
  padding-bottom: 0;
}

.thesis h1{
  text-align: center;
  opacity: 0.7;
  padding-top: 1rem;
}

#thesis_right{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  width: 40%;
  font-size: 12px;
}

#thesis_right img{
  padding: 16px;
  width: 100%;
}

/* FOOTER */

footer{
  font-size: 12px;
  border: 1px solid #e6e9ef;
  width: 100%;
  overflow: hidden;
}

footer p{
  float: left;
  padding: 24px;
  opacity: 0.7;
}

footer li{
  text-decoration: none;
  display: inline;
  float: right;
  padding: 24px;
  opacity: 0.7;
}

/* MOBILE VERSION */

@media only screen and (max-width: 480px){

  .desktop{
    display: none;
  }

  .mobile{
    display: block;
  }

  #mobileHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 24px;
  }

  .banner{
    flex-direction: column;
    align-items: center;
  }

  .banner_img_container{
    width: 100%;
    padding: 0;
  }

  .banner_img_container img{
    width: 100%;
  }

  button{
    margin-bottom: 32px;
  }

  .banner_txt_column{
    margin-top: -20px;
  }

  .intro_column_left{
    display: none;
  }

  .intro_column_right{
    width: 100%;
  }

  .lecture,
  .orientation,
  .campus{
    border: none;
    flex-direction: column;
  }

  .lecture{
    background-color: white;
    margin-bottom: 32px;
  }

  .orientation_img,
  .campus_img,
  .lecture_img{
    width: 100%;
    height: auto;
  }

  .intro_column_right img{
    padding: 0;
    width: 94%;
    margin: 0 auto;
  }

  .lecture_txt,
  .campus_txt,
  .orientation_txt{
    text-align: left;
    width: 100%;
    padding-left: 16px;
    margin: 0 auto;
  }

  .campus_txt,
  .orientation_txt{
    margin-bottom: 32px;
  }

  .courses_mobile_wrapper{
    background-color: white;
    border: 1px solid #e6e9ef;
    border-bottom: none;
    margin-bottom: 32px;
  }

  .courses_mobile_title h1{
    text-align: center;
    opacity: 0.7;
    padding-top: 1rem;
    margin-top: 0px;
  }

  .courses_mobile h3{
    background-color: lightgrey;
    width: 94%;
    padding: 16px 0 24px 16px;
    margin: 0 auto;
    margin-bottom: 8px;
    opacity: 0.7;
  }

  #thesis_right{
    display: none;
  }

  .special{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .special video{
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .intro_img {
    padding: 0;
  }

  .thesis h1{
    padding-top: 0;
    margin-top: -20;
  }

  footer p,
  footer li{
    padding: 12px;
  }
}
